@use "../../styles/main.scss" as *;

//------- common styles --------
%text-box {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  text-align: left;
  font-weight: 500;
  background: linear-gradient(
    92.32deg,
    rgba(28, 40, 83, 0.2) 5.7%,
    rgba(110, 69, 226, 0.2) 96.66%
  );
  /* glass effect */

  box-shadow: 0px 4px 20px -1px #000000;
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 25px;
  border: 2.5px solid rgba(110, 69, 226, 0.2);
}
%section {
  overflow: hidden;
  display: flex;
  align-items: center;
  @include screen-tablet-sm-up {
    padding: 35px 0;
  }
  @include screen-tablet-md-up {
    padding: 40px 0;
  }
  @include screen-laptop-sm-up {
    padding: 60px 0;
  }
}
.title {
  @include typography-title;
  text-align: center;
  margin: 50px 0 40px 0;
  @include screen-laptop-sm-up {
    text-align: left;
    margin: {
      top: 6vh;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
// --------------- container ------------
.container {
  position: relative;
  width: 100%;
  padding: 0;
  height: 100vh;
  background: url("../../assets/images/concert.png") center top;
  background-size: cover;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @include screen-laptop-sm-up {
    padding: 0 100px;
    width: auto;
  }
  @include screen-laptop-lg-up {
    padding: 0 160px;
  }
}

.section_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @include screen-laptop-sm-up {
    flex-direction: row;
  }
}
.text_box {
  @extend %text-box;
  p {
    @include typography-body-4;
    margin: 7.5px 0;
    font-weight: 400;
    text-align: left;
    @include screen-laptop-sm-up {
      margin: 15px 0;
    }
  }
  &_1 {
    width: 90vw;
    @include screen-tablet-sm-up {
      width: 420px;
    }
    @include screen-tablet-md-up {
      width: 450px;
    }
    @include screen-laptop-sm-up {
      width: 500px;
    }
  }
  &_2 {
    width: 90vw;
    @include screen-tablet-sm-up {
      width: 380px;
    }
    @include screen-tablet-md-up {
      width: 400px;
    }
    @include screen-laptop-md-up {
      width: 430px;
    }
    @include screen-laptop-lg-up {
      width: 502px;
    }
  }
  &_3 {
    width: 90vw;
    padding: {
      left: 0;
      right: 0;
    }
    @include screen-tablet-sm-up {
      width: 450px;
    }
    @include screen-tablet-md-up {
      width: 480px;
    }
    @include screen-laptop-sm-up {
      width: 560px;
    }
    p {
      padding: 2px 20px;
    }
    ul {
      list-style: none;
      background: var(--black-dark);
      padding: 0 20px;
      box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.56);
      backdrop-filter: blur(75px);
      border-top: 2.5px solid rgba(110, 69, 226, 0.2);
      border-bottom: 2.5px solid rgba(110, 69, 226, 0.2);
      li {
        display: flex;
        align-items: center;
        padding: 1.5px 0;
        span {
          @include typography-body-4;
        }
        p {
          padding: {
            left: 10px;
          }
        }
      }
    }
  }
}
//------------------ section 1 ------------------
.section_1 {
  @extend %section;
  display: flex;
  align-items: center;
  height: auto;
  padding: {
    top: 0;
    bottom: 0;
  }
  @include screen-tablet-sm-up {
    padding: {
      top: 30px;
    }
  }
  @include screen-laptop-sm-up {
    padding: {
      top: 50px;
      bottom: 60px;
    }
  }
  .section_container {
    display: flex;
    flex-direction: column;

    @include screen-laptop-sm-up {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      place-items: center start;
    }
  }
  .right {
    grid-column: 7/13;
    position: relative;
    transition: transform 0.6s 0.6s ease-in;
    width: 100vw;
    height: 70vh;
    @include screen-tablet-sm-up {
      height: 38vh;
    }
    @include screen-tablet-md-up {
      height: 28vh;
    }
    @include screen-laptop-sm-up {
      width: 100%;
      height: 100%;
    }
    .brandLogo {
      position: absolute;
      transition: transform 0.6s ease-in;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &_amazonmusic {
        transform: translate(-130%, -230%);
      }
      &_spotify {
        transform: translate(10%, -220%);
      }
      &_applemusic {
        transform: translate(-100%, -80%);
      }
      &_youtubemusic {
        transform: translate(-25%, 35%);
      }
      &_tidal {
        transform: translate(-110%, 90%);
      }
      &_deezer {
        transform: translate(-10%, 320%);
      }
      @include screen-mobile-md-up {
        &_amazonmusic {
          transform: translate(-130%, -230%);
        }
        &_spotify {
          transform: translate(10%, -220%);
        }
        &_applemusic {
          transform: translate(-120%, -80%);
        }
        &_youtubemusic {
          transform: translate(-15%, 20%);
        }
        &_tidal {
          transform: translate(-130%, 80%);
        }
        &_deezer {
          transform: translate(-10%, 260%);
        }
      }
      @include screen-tablet-sm-up {
        &_amazonmusic {
          transform: translate(-180%, -230%);
        }
        &_spotify {
          transform: translate(16%, -220%);
        }
        &_applemusic {
          transform: translate(-140%, -80%);
        }
        &_youtubemusic {
          transform: translate(10%, 0%);
        }
        &_tidal {
          transform: translate(-160%, 90%);
        }
        &_deezer {
          transform: translate(25%, 250%);
        }
      }
      @include screen-tablet-md-up {
        &_youtubemusic {
          transform: translate(10%, 35%);
        }
        &_deezer {
          transform: translate(20%, 320%);
        }
      }
      @include screen-laptop-sm-up {
        &_amazonmusic {
          transform: translate(-220%, -200%);
        }
        &_spotify {
          transform: translate(10%, -180%);
        }
        &_applemusic {
          transform: translate(-100%, -80%);
        }
        &_youtubemusic {
          transform: translate(10%, 20%);
        }
        &_tidal {
          transform: translate(-150%, 60%);
        }
        &_deezer {
          transform: translate(-20%, 240%);
        }
      }
    }
  }
  .left {
    grid-column: 1/7;
  }
}

//-------------------------- section 2 ----------------
.section_2 {
  @extend %section;
  .section_container {
    display: flex;
    flex-direction: column-reverse;
    @include screen-laptop-sm-up {
      flex-direction: row;
    }
  }
  .left {
    margin: 0 10px;
    img {
      width: 90vw;
    }
    @include screen-tablet-sm-up {
      img {
        width: auto;
      }
    }
  }
}

//----------------------------section 3 -------------------------
.section_3 {
  @extend %section;
  padding: {
    bottom: 100px;
  }
  .right {
    margin: auto;
    img {
      width: 200px;
    }
    @include screen-tablet-sm-up {
      img {
        width: 250px;
      }
    }
    @include screen-tablet-lg-up {
      img {
        width: 280px;
      }
    }
    @include screen-laptop-sm-up {
      margin: {
        top: auto;
        bottom: auto;
        right: 120px;
      }
      img {
        width: 230px;
      }
    }
  }
  .left {
    grid-column: 1/8;
  }
  @media (max-width: 576px) {
    padding: {
      top: 100px;
      bottom: 100px;
    }
  }
}
//--------------------- section 4 -----------------------
.section_4 {
  @extend %section;
  position: relative;
  padding: {
    top: 3%;
    bottom: 4%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    @include typography-header-3;
    text-align: center;
    @include screen-tablet-sm-up {
      padding: {
        left: 40px;
        right: 40px;
      }
    }
    @include screen-tablet-md-up {
      padding: {
        left: 90px;
        right: 90px;
      }
    }
  }
  ul {
    margin: 10px 10px;
    list-style: none;
    li {
      @include typography-body-1;
      text-align: center;
      margin: 25px 0;
      @include screen-laptop-sm-up {
        text-align: left;
        margin: 25px 0;
      }
    }
    @include screen-laptop-sm-up {
      margin: 50px auto 20px auto;
    }
  }
}
.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 21, 21, 1);
  z-index: -1;
}
.tile {
  @include component-tile;
  @include palette-light-purple-gradient;
  @include component-purpleBorder;
  position: absolute;
  top: 0;

  &_1,
  &_2,
  &_3,
  &_4,
  &_5,
  &_6,
  &_7,
  &_8,
  &_9,
  &_10,
  &_11,
  &_12 {
    left: 0;
  }
  &_13,
  &_14,
  &_15,
  &_16,
  &_17,
  &_18,
  &_19,
  &_20,
  &_21,
  &_22,
  &_23,
  &_24,
  &_25,
  &_26,
  &_27,
  &_28 {
    right: 0;
  }

  &_1,
  &_3,
  &_5,
  &_9,
  &_11,
  &_12,
  &_13,
  &_15,
  &_17,
  &_22,
  &_26,
  &_25,
  &_27 {
    @include palette-dark-purple-gradient;
  }
  &_1 {
    transform: translate(0, 70px);
  }
  &_2 {
    transform: translate(70px, 0);
  }
  &_3 {
    transform: translate(140px, 70px);
  }
  &_4 {
    transform: translate(210px, 0);
  }
  &_5 {
    transform: translate(280px, 70px);
  }
  &_6 {
    transform: translate(350px, 0);
  }
  &_7 {
    transform: translate(70px, 140px);
  }
  &_8 {
    transform: translate(210px, 140px);
  }
  &_9 {
    transform: translate(0, 220px);
  }
  &_10 {
    transform: translate(70px, 300px);
  }
  &_11 {
    transform: translate(0, 380px);
  }
  &_12 {
    transform: translate(140px, 380px);
  }
  &_13 {
    transform: translate(-50px, 70px);
  }
  &_14 {
    transform: translate(-120px, 0);
  }
  &_15 {
    transform: translate(-190px, 70px);
  }
  &_16 {
    transform: translate(-260px, 0);
  }
  &_17 {
    transform: translate(-330px, 70px);
  }
  &_18 {
    transform: translate(-400px, 0);
  }
  &_19 {
    transform: translate(20px, 140px);
  }
  &_20 {
    transform: translate(-120px, 140px);
  }
  &_21 {
    transform: translate(-260px, 140px);
  }
  &_22 {
    transform: translate(-50px, 210px);
  }
  &_23 {
    transform: translate(20px, 290px);
  }
  &_24 {
    transform: translate(-120px, 290px);
  }
  &_25 {
    transform: translate(-50px, 375px);
  }
  &_26 {
    transform: translate(-185px, 375px);
  }
  &_4,
  &_3,
  &_20,
  &_8,
  &_6,
  &_5,
  &_18,
  &_12,
  &_14,
  &_15,
  &_16,
  &_17,
  &_21,
  &_26,
  &_24 {
    display: none;
  }
  @include screen-mobile-lg-up {
    &_4,
    &_3,
    &_20,
    &_8,
    &_12,
    &_14,
    &_15,
    &_16,
    &_17,
    &_21,
    &_26,
    &_24 {
      display: block;
    }
  }
  @include screen-laptop-sm-up {
    &_4,
    &_3,
    &_20,
    &_8,
    &_6,
    &_5,
    &_18,
    &_12,
    &_14,
    &_15,
    &_16,
    &_17,
    &_21,
    &_26,
    &_24 {
      display: block;
    }
  }
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(360deg, #1c2853 0%, #6e45e2 147.36%);
  width: 100%;
  padding: 10px 0;
  flex-direction: column;
  p {
    @include typography-body-2;
    text-align: center;
    margin: {
      right: 10px;
      left: 10px;
      bottom: 10px;
    }
  }
  @include screen-laptop-sm-up {
    flex-direction: row;
    p {
      text-align: left;
      margin: {
        right: 30px;
        left: 0;
        bottom: 0;
      }
    }
  }
}
