@mixin title {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(360deg, #1c2853 0%, #6e45e2 147.36%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin dark-purple-gradient {
  background: linear-gradient(
    112.65deg,
    rgba(110, 69, 226, 0.1) 1.05%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

@mixin light-purple-gradient {
  background: linear-gradient(
    92.32deg,
    rgba(28, 40, 83, 0.2) 5.7%,
    rgba(110, 69, 226, 0.3) 96.66%
  );
}

@mixin purpleBorder {
  border: 1.5px solid rgba(110, 69, 226, 0.1);
}
