.container {
  position: relative;
  background: linear-gradient(
    112.65deg,
    rgba(110, 69, 226, 0.15) 1.05%,
    rgba(203, 203, 203, 0) 100%
  );
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto 20px;
  @media (max-width: 768px) {
    padding: 10px;
    margin: auto 10px;
  }
}
.icon {
  position: absolute;
  top: -10px;
  left: -10px;
}
.post {
  border-radius: 25px;
}
