@use "../../styles/main.scss" as *;
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background: rgba(21, 21, 21, 1);
  padding: 2vh 6vw;
  box-shadow: 0px 4px 20px -1px #000000;
  z-index: 10;
  @media (min-width: 768px) and (max-width: 1440px) {
    padding: 2vh 25px;
  }
}

.logo {
  flex-grow: 1;
  @media (max-width: 768px) {
    img {
      width: 120px;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    img {
      width: 180px;
    }
  }
}
.menu_icon {
  display: flex;
  flex-direction: column;
  span {
    width: 20px;
    height: 2px;
    margin: 3px 0;
    background: #fff;
  }
  @media (min-width: 768px) {
    display: none;
  }
  transition: transform 0.3s ease-in;
}
.close_icon {
  justify-content: center;
  align-items: center;

  padding: {
    right: 10px;
  }
  span {
    position: absolute;
    transition: transform 0.3s ease-in;
    &:nth-child(1) {
      transform: rotate(-40deg);
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      transform: rotate(40deg);
    }
  }
}
.menu_container {
  @media (max-width: 768px) {
    display: none;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    margin: {
      left: 60px;
    }
  }
  &_mobile {
    @media (max-width: 768px) {
      z-index: 15;
      background: linear-gradient(
        92.32deg,
        rgba(28, 40, 83, 0.2) 5.7%,
        rgba(110, 69, 226, 0.2) 96.66%
      );
      box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.56);
      backdrop-filter: blur(75px);
      position: absolute;
      height: calc(100vh - 55px);
      width: 100vw;
      top: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  .links {
    font-size: 2rem;
    font-weight: 500;
    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      margin: {
        bottom: 20px;
      }
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      font-size: 1.3rem;
    }
    div {
      margin: 0 20px;
      @media (max-width: 600px) {
        width: 100%;
        padding: 10px 5px;
        border-bottom: 1px solid rgba(110, 69, 226, 0.5);
      }
      @media (min-width: 768px) and (max-width: 1024px) {
        margin: 0 10px;
      }
    }
    div:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .socials {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 15px;
    img:nth-child(1) {
      width: 25px;
      margin: {
        right: 12px;
      }
    }
    img:nth-child(2) {
      margin: {
        right: 3px;
      }
    }
    img:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}
