@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Medium.woff");
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Gilroy";
  font-size: 20;
  background: #151515;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  color: inherit;
}

h1 {
  font-size: 65px;
  font-weight: 700;
}

h2 {
  font-size: 45px;
  font-weight: 700;
}

h3 {
  font-size: 36px;
  font-weight: 500;
}
