@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Medium.woff");
}
html {
  font-size: 62.5%;
}
:root {
  --primary: #151515;
  --secondary-1: rgba(110, 69, 226, 1);
  --secondary-2: rgba(28, 40, 83, 1);
  --teritary: #fff;
  --black-dark: #0e0e0e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: 0;
  color: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  background: var(--primary);
  color: var(--teritary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
